<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        
    </head>
    <title>Toyo Sushi</title>
<body>
    <div id="header">
        <!-- Logo -->
        <div id="logo">
            <img src="{{url_for('static', filename='logo.png')}}"/>
        </div>
        
        <div id="nav-menu">
            <nav>
                <ul>
                    <div id="menu-drop">
                        <li><a id="menu" href="/menu">Menu</a></li>
                        <div id="menu-content">
                            <a href="/menu/lunch">Lunch</a>
                            <a href="/menu/dinner">Dinner</a>
                            <a href="/menu/special">Chef's Special  </a>
                        </div>
                    </div>
                    <li><a href="/about">About Us</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="image">
        <img src="{{url_for('static', filename='sushi1.jpeg')}}"/>
    </div>
</body>
</html>
